# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
egss/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 테스트
.coverage
coverage.xml
.pytest_cache/
.pylint.d/

# 포맷팅
.isort.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo

# 환경
.env
.venv
venv/
ENV/
logs/
