{% extends 'layout.html' %}

{% block content %}
  <h1 class="mb-4">Keyword Results</h1>
  <table class="table table-striped" aria-label="Keyword results">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th scope="col">Source</th>
        <th scope="col">Score</th>
        <th scope="col">Growth</th>
        <th scope="col">Mentions</th>
        <th scope="col">Top Retweet</th>
        <th scope="col">CPC</th>
      </tr>
    </thead>
    <tbody>
    {% for item in keywords %}
      <tr>
        <td>{{ item.keyword }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.score }}</td>
        <td>{{ item.growth }}</td>
        <td>{{ item.mentions }}</td>
        <td>{{ item.top_retweet }}</td>
        <td>{{ item.cpc }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
